button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: $color__text-button;
	line-height: 1;
	@include font-size(0.75);
	vertical-align: bottom;
	padding: .5em 1em .4em;

	&:hover {
		background: $color__background-button-hover;
		border-color: $color__border-button-hover;
		color: $color__text-button-hover;
	}

	&:active,
	&:focus {
		background: $color__background-button-focus;
		border-color: $color__border-button-focus;
		color: $color__text-button-focus;
	}
}